{% extends 'courseinfo/base.html' %}

{% block title %}
    Student - {{ student }}
{% endblock %}

{% block content %}
    <h2>{{ student }}</h2>
    <ul>
        <li>
            <a href="{{ student.get_update_url }}" class="button">
                Edit Student
            </a>
        </li>
        <li>
            <a href="{{ student.get_delete_url }}" class="button">
                Delete Student
            </a>
        </li>
    </ul>

    <section>
        <table>
            <tr>
                <th>First name:</th>
                <td>{{ student.first_name }}</td>
            </tr>
            <tr>
                <th>Last number:</th>
                <td>{{ student.last_name }}</td>
            </tr>
            <tr>
                <th>Nick number:</th>
                <td>{{ student.nick_name }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Registration</h3>
        <ul>
            {% for registration in registration_list %}
                <li>
                    <a href="{{ registration.get_absolute_url }}">{{ registration.section }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no sections for this instructor.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
